.container {
  height: 86vh;
  width: 100%;
  font-family: "GothamRegular";
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  &__image,
  &__desc {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    padding-left: 1rem;
  }

  &__image {
    background: url("../../../assets/images/acad01.png") no-repeat;
    background-position: center;
  }

  &__desc {
    h1 {
      font-size: 1.3rem;
      font-family: "GothamMedium";
    }
    p {
      text-align: justify;
      font-size: 13px;
    }
  }
}
