.footer {
  background-color: #046059;
}

.desciption {
  text-align: start;
  line-height: 1.3rem !important;
  font-size: 15px;
  color: #e5e5e5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title {
  font-weight: 800;
}
@media only screen and (max-width: 768px) {
  .desciption {
    text-align: center;
    font-size: 16px;
  }
}
